* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

main {
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
    padding: 20px;
    min-height: calc(100vh - 40px);
}

main > * {
    flex: 1;
    padding: 20px;
    text-align: justify;
}

main > p {
    flex: none;
}

.header {
    background-color: cornflowerblue;
}

.hero {
    background-color: crimson;
}

.content {
    background-color: green;
}

.sidebar {
    background-color: darkorchid;
}

.footer {
    background-color: dimgrey;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0;
}

.main-content > * {
    flex: 1;
    padding: 20px;
}

@media (min-width: 640px) {
    .main-content {
        display: flex;
        flex-direction: row;
        gap: 2px;
    }
}

@media (min-width: 1024px) {
    .main-content {
        flex-direction: row;
        padding: 0 100px;
    }
    .content {
        flex-grow: 2;
    }
}
